
/* nav-bar start */

.nav-bar {
  height:100px;
  width:100%;
  background-color:rgba(0,0,0,.5);
  position:fixed;
  top:0;
  left:0;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:0;
}

.nav-list-item {
  color:#fff;
  font-size:30px;
  text-align:center;
  font-family:'germania one', sans-serif;

}

.nav-list-item:hover {
  border-bottom: 3px solid #000;
  cursor:pointer;

}

.nav-spacer {
  margin-right:20px;
  margin-left:20px;

}

.display-inline {
  display:inline;
}

/*  nav bar end  */

/* ham menu start  */

.ham-menu{
  height:40px;
  width:50px;
  position:fixed;
  top:30px;
  left:10px;
  border:1px solid #fff;
  z-index:2;
  list-style-type: none;

}

.ham-bar {
  height:8px;
  width:48px;
  margin-left:1px;
  background-color:#fff;
  border-radius: 5px 5px 5px 5px;

}

.ham-bar:nth-child(1){
  top:10px;

}

.ham-bar:nth-child(2){
  top:10px;

}

.ham-bar:nth-child(3){
  top:10px;

}



.ham-bar:nth-child(1).animate {
  animation: ham-one .5s ease-in forwards running;

}

.ham-bar:nth-child(1).animate-reverse {
  animation: ham-one-reverse .5s ease-out forwards running;

}

.ham-bar:nth-child(2).animate {
  animation: ham-two .5s ease-in forwards running;

}

.ham-bar:nth-child(2).animate-reverse {
  animation: ham-two-reverse .5s ease-out forwards running;

  }

.ham-bar:nth-child(3).animate {
  animation: ham-three .5s ease-in forwards running;

}

.ham-bar:nth-child(3).animate-reverse {
  animation: ham-three-reverse .5s ease-out forwards running;

  }

/* ham menu end */

/* animate */

@keyframes ham-one {
  0%{
    top:15px;
    transform:rotate(0deg);

  }
  35%{
    top:30px;
    transform:rotate(0deg);

  }
  65%{
    top:30px;
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(-45deg);
    top:30px;

  }
}

@keyframes ham-two {
  0%{
    opacity:1;

  }
  15%{
    opacity:0;

  }
  100%{
    opacity:0;

  }
}

@keyframes ham-three {
  0%{
    top:45px;
    transform:rotate(0deg);

  }
  35%{
    top:30px;
    transform:rotate(0deg);

  }
  65%{
    top:30px;
    transform:rotate(0deg);

  }
  100%{
    transform:rotate(45deg);
    top:30px;
  }
}


/* // -----------------------------------------------------------------------
//                       REVERSE
// ----------------------------------------------------------------------- */


@keyframes ham-one-reverse {
  0%{
    top:30px;
    transform:rotate(-45deg);

  }
  35%{
    top:30px;
    transform:rotate(0deg);

  }
  65%{
    top:30px;
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(0deg);
    top:15px;

  }
}

@keyframes ham-two-reverse {
  0%{
    opacity:0;

  }
  15%{
    opacity:0;

  }
  100%{
    opacity:1;

  }
}

@keyframes ham-three-reverse {
  0%{
    top:30px;
    transform:rotate(45deg);

  }
  35%{
    top:30px;
    transform:rotate(0deg);

  }
  65%{
    top:30px;
    transform:rotate(0deg);

  }
  100%{
    transform:rotate(0deg);
    top:45px;
  }
}


