
/* nav-bar start */

.nav-bar {
  height:100px;
  width:100%;
  background-color:rgba(0,0,0,.5);
  position:fixed;
  top:0;
  left:0;
  z-index:0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list-item {
  color:#E8E8E8;
  font-size:30px;
  text-align:center;
  font-family:'germania one', sans-serif;
  text-align:center;
  float: left;

}

.nav-list-item:hover {
  border-bottom: 3px solid #000;
  cursor:pointer;

}

.nav-spacer {
  margin-right:20px;
  margin-left:20px;

}

.display-inline {
  display: inline-block;


}

/*  nav bar end  */

